.app-header {
  /* position: fixed; */
}

.app-entry {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.slider-section {
  display: flex;
  flex-grow: 1;
}

.main-container {
  display: flex;
  height: 100%;
}

.main-container section {
  flex-grow: 1;
  height: 100%;
}

.result-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mr-10 {
  margin-right: 10px;
}

.mat-form-field {
  font-size: large;
}
